<h1>List of posts</h1>
<ul>
  <% @posts.reverse_each do |post| %>
    <li>
      <p>
        <%= link_to post.title, post_path(post) %>
        <br>
        Owner: <%= post.user.email %>
      </p>
    </li>
    <br>
  <% end %>
</ul>
<%= link_to 'New post', new_post_path %>
<%= link_to 'New user', new_user_path %>